html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("pixilart-drawing Kopie.png"); /* Ersetzen Sie 'pfad/zum/bild.jpg' durch den tatsächlichen Pfad zu Ihrem Bild */
  background-size: 200px; /* Stellt sicher, dass das Bild die gesamte Seite abdeckt */
  background-position: center; /* Zentriert das Bild auf der Seite */
  height: 100vh; /* Stellt sicher, dass der Hintergrund die volle Seitenhöhe einnimmt */
}

#root {
  display: flex;
  flex-direction: column;
}

#app-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#react-target {
  height: 100%;
}
